<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

    	<title>Elliptic Curve Cryptography</title>

    	<link href="../../css/bootstrap.min.css" rel="stylesheet">
    	<link href="../../css/ab.css" rel="stylesheet">
    	<script src="../utils.js"></script>
    	<script src="ecc.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.2/d3.min.js"></script>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css" integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js" integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O" crossorigin="anonymous"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js" integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
	</head>

  <body>

		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" href="http://www.aaronblumenfeld.com">Aaron Blumenfeld</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-2">
						<li class="nav-item">
							<a class="nav-link" href="http://www.aaronblumenfeld.com">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../../sunny">Sunny</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../../kmeans">k-Means</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../../graph-vis">Graph Vis</a>
						</li>
						<li class="dropdown">
							<a class="nav-link dropdown-toggle" href=".." id="navbarDropdown" aria-haspopup="true" aria-expanded="false">
								Crypto
							</a>
							<div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="../numtheory">Number Theory</a>
								<a class="dropdown-item" href="../rsa">RSA</a>
								<a class="dropdown-item" href="../dl">Discrete Logs</a>
								<a class="dropdown-item" href="../ecc">Elliptic Curve Cryptography</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../../teaching">Teaching</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../../contact">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container mt-3">

				<h4>Elliptic Curve Cryptography Calculator</h4>

				<hr>

				<div>You can enter your own input to use the ECC calculator. <span class="tex" content="\log_{G}(P)"></span> solves the discrete logarithm to
				the base <span class="tex" content="G"></span>. That is, it finds the value <span class="tex" content="k"></span> such that <span class="tex"
				content="kG = P"></span> on <span class="tex" content="E"></span>. <span class="tex" content="|E|"></span> computes the number of points on
				the curve. <span class="tex" content="|G|"></span> computes the number of points in the subgroup generated by <span class="tex" content="G"></span>.
				That is, <span class="tex" content="| \cdot |"></span> is the symbol for order. You can also generate random elliptic curves mod <span class="tex"
				content="p"></span>, and random elliptic curves with a prime number of points (not necessarily <span class="tex" content="p"></span>).</div>

				<div class="mt-2">For higher-degree binary fields for ECC calculations, see the following stand-alone <a href="https://github.com/ablumenf/ECCpy">
				Python program</a>. You'll need to make sure your irreducible polynomial <span class="tex" content="R(z)"></span> is actually irreducible. Otherwise,
				strange things may or may not happen.</div>

				<div ng-app="app" ng-controller="ctrl">

				<ul class="nav nav-pills mt-3 mb-3" id="pills-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="prime-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Prime Fields</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="binary-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Binary Fields</a>
					</li>
				</ul>
				<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="prime-tab">
				<div class="row mt-2">
					<div class="col col-lg-5 col-md-5">
						<table class="table table-borderless table-hover mt-2">
							<tbody>
								<tr>
									<th scope="row">Modulus <span class="tex" content="p"></span></th>
									<td><input type="text" class="form-control" ng-model="p" ng-model-options="{debounce: 2000}"/></td>
								</tr>
								<tr>
									<th scope="row">Elliptic Curve <span class="tex" content="E"></span></th>
									<td><input type="text" class="form-control" ng-model="E" ng-model-options="{debounce: 2000}"/></td>
								</tr>
								<tr>
									<th scope="row">Generator <span class="tex" content="G"></span></th>
									<td><input type="text" class="form-control" ng-model="G" ng-model-options="{debounce: 2000}"/></td>
								</tr>
								<tr>
									<th scope="row">Point <span class="tex" content="P"></span></th>
									<td><input type="text" class="form-control" ng-model="P" ng-model-options="{debounce: 2000}"/></td>
								</tr>
								<tr>
									<th scope="row">Point <span class="tex" content="Q"></span></th>
									<td><input type="text" class="form-control" ng-model="Q" ng-model-options="{debounce: 2000}"/></td>
								</tr>
								<tr>
									<th scope="row">Exponent <span class="tex" content="k"></span></th>
									<td><input type="text" class="form-control" ng-model="k" ng-model-options="{debounce: 2000}"/></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-lg-7 col-md-7">
						<div class="card h-100">
							<h4 class="card-header text-center">Output</h4>
								<div class="card-body" id="eccOutput"></div>
								<div class="card-footer text-center">
									<div>
									<button class="btn btn-success" ng-click="pointAddition()"><span class="tex" content="P + Q"></span></button>
									<button class="btn btn-success" ng-click="pointMult()"><span class="tex" content="kP"></span></button>
									<button class="btn btn-info" ng-click="log()"><span class="tex" content="\log_G(P)"></span></button>
									<button class="btn btn-primary" ng-click="curveOrder()"><span class="tex" content="|E|"></span></button>
									<button class="btn btn-primary" ng-click="pointOrder()"><span class="tex" content="|G|"></span></button>
									</div>
									<div class="mt-2">
									<button class="btn btn-info" ng-click="randomCurve()">Random Curve</button>
									<button class="btn btn-info" ng-click="randomCurvePrime()">Random Curve, Prime Order</button>
									<button class="btn btn-danger" ng-click="clearOutput()">Clear</button>
									</div>
									<div id="eccAlert" class="mt-2"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="binary-tab">hi</div>
				</div>

				<script src="rsa_angular_app.js"></script>

				<hr>

				<h4>Elliptic Curve Cryptography Overview</h4>

				<p>RSA is mathematically very simple, but unfortunately, factoring integers is not quite as hard as we would like (that is, there are
				sub-exponential time algorithms for this task), which means keys with thousands of bits need to be used. Elliptic curve cryptography
				allows us to get away with keys that are "only" a couple hundred bits long, which makes computations faster (even though RSA
				calculations would make things much faster if the same key sizes could be used to achieve the same levels of security). For example,
				3000-bit RSA keys are needed to match the security of 128-bit AES, while ECC can get away with 256-bit keys. To match AES-256,
				RSA requires 15000-bit keys, while ECC only requires 512-bit keys!</p>

				<p>An <span class="font-weight-bold">elliptic curve</span> is the set of points in the plane satisfying <span class="tex"
				content="y^2 = x^3 + ax + b"></span> for fixed parameters <span class="tex" content="a"></span> and <span class="tex" content="b"></span>.
				The coordinates can come from any field, such as the real numbers or rational numbers. For cryptographic purposes, however, we will use
				the integers mod <span class="tex" content="p"></span> (for <span class="tex" content="p \geq 5"></span>) and binary fields (fields with
				<span class="tex" content="2^r"></span> elements for some <span class="tex" content="r \geq 1"></span>). We also require that
				<span class="tex" content="4a^3 + 27b^2 \neq 0"></span>. This ensures that the right side of the equation has no repeated roots (this is similar
				to a quadratic equation <span class="tex" content="x^2 + ax + b"></span> having no repeated roots being equivalent to <span class="tex"
				content="b^2 - 4ac \neq 0"></span>).</p>

				<p>Any elliptic curve also includes a point at infinity, which we will denote as <span class="tex" content="\infty"></span> (some references
				denote it as <span class="tex" content="\mathcal{O}"></span>). This is a formal identity element, which we will get into below. Here are two
				graphs of elliptic curves over the real numbers (mod p, you can just visualize them as a discrete set of points).</p>

				<div class="text-center">
				<span class="col-lg-3"></span>
				<span class="col-lg-3"><img src="ec1.jpg"></img></span>
				<span class="col-lg-3"><img src="ec2.jpg"></img></span>
				<span class="col-lg-3"></span>
				</div>

				<p class="mt-3">Elliptic curves form what is called a group. What this means for us is that we can take two points on the curve and add them to find
				a third point on the curve. Addition is not simply pointwise addition. The basic idea is that we draw a line between the two points. This line
				will intersect the curve in a third point. We then reflect across the <span class="tex" content="y"></span>-axis (notice that the curves are symmetric
				across the <span class="tex" content="y"></span>-axis). This point is the result of the addition.</p>

				<p>There are several cases. The first case is adding two distinct points <span class="tex" content="P"></span> and <span class="tex" content="Q"></span>.
				This is the idea described above. A very similar case is adding a point <span class="tex" content="P"></span> to itself: in this case, we draw the line
				tangent to the curve at <span class="tex" content="P"></span>, which intersects the curve in one more point, and we follow the same procedure as above.
				The other case is when we are adding a point <span class="tex" content="P"></span> to its reflection <span class="tex" content="-P"></span> across the
				<span class="tex" content="y"></span>-axis, in which case we define <span class="tex" content="P + -P = \infty"></span>. This is the "identity" element.
				This last case has the subcase of <span class="tex" content="P + P = \infty"></span> when <span class="tex" content="P"></span> lies on the
				<span class="tex" content="y"></span>-axis since its reflection is itself.</p>

				<p>You can think of this as intersecting every vertical line through the curve way off the graph both to the top and the bottom of what one can see.
				One way to summarize the addition rule is by saying <span class="tex" content="P + Q + R = \infty"></span> iff <span class="tex" content="P"></span>,
				<span class="tex" content="Q"></span>, and <span class="tex" content="R"></span> lie on the same line. See the images below for illustrations of
				elliptic curve point addition.</p>

				<div class="text-center">
				<span class="col-lg-3"><img src="ecadd1.jpg"></img></span>
				<span class="col-lg-3"><img src="ecadd2.jpg"></img></span>
				<span class="col-lg-3"><img src="ecadd3.jpg"></img></span>
				<span class="col-lg-3"><img src="ecadd4.jpg"></img></span>
				</div>

				<div id="accordion1" class="mb-3 mt-3">
					<div class="card">
						<div class="card-header">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#addition-details" aria-expanded="true" aria-controls="addition-details">
									Expand this to see the addition formulas.
								</button>
							</h5>
						</div>

						<div id="addition-details" class="collapse" data-parent="#accordion1">
							<div class="card-body">
								<p>Here are the formulas for <span class="tex" content="P + Q"></span>, where <span class="tex" content="P = (x_1, y_1), Q = (x_2, y_2)">
								</span>.</p>

								<p>First the easy case. If <span class="tex" content="P = -Q"></span>, that is, <span class="tex" content="y_1 = -y_2"></span> (including the case
								<span class="tex" content="P = Q = (x_1, 0)"></span>), then <span class="tex" content="P + Q = \infty"></span>.</p>

								<p>If <span class="tex" content="P \neq \pm Q"></span>, then <span class="tex" content="P + Q = R = (x_3, y_3)"></span>, where
								$$x_3 = m^2 - x_1 - x_2, y_3 = m(x_1 - x_3) - y_1, m = \frac{y_2 - y_1}{x_2 - x_1}.$$</p>

								<p>If <span class="tex" content="P = Q"></span>, then <span class="tex" content="P + Q = 2P = R = (x_3, y_3)"></span>, where
								$$x_3 = m^2 - 2x_1, y_3 = m(x_1 - x_3) - y_1, m = \frac{3x_1^2 + a}{2y_1}.$$</p>

								<p>The <span class="tex" content="m"></span> term is simply the slope of the line between the two points. When <span class="tex" content="P \neq \pm Q">
								</span>, this is the usual slope formula. When <span class="tex" content="P = Q"></span>, it is the slope of the tangent line to
								<span class="tex" content="E"></span> at <span class="tex" content="P"></span> and is computed using calculus. (It is not a coincidence
								that in this case it is the ratio of the derivatives of the two sides of the equation for <span class="tex" content="E"></span>.</p>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<h5>Elliptic Curve Orders</h5>

				<p>The order of <span class="tex" content="E"></span>, denoted <span class="tex" content="|E|"></span>, is the number of points on
				<span class="tex" content="E"></span>. That is, the number of points <span class="tex" content="(x, y)"></span> satisfying
				<span class="tex" content="y^2 \equiv x^3 + ax + b \pmod{p}"></span>. The order of the point <span class="tex" content="G"></span>,
				denoted <span class="tex" content="|G|"></span>, is the smallest integer <span class="tex" content="r"></span> such that <span class="tex"
				content="rG = \infty"></span>. Note that <span class="tex" content="|G|"></span> divides <span class="tex" content="|E|"></span>. This is
				Lagrange's Theorem (very similar to Euler's Theorem).</p>

				<p>This means to find the order of a point <span class="tex" content="G"></span>, we can factor <span class="tex" content="|E|"></span>,
				and find the smallest factor <span class="tex" content="r"></span> with <span class="tex" content="rG = \infty"></span>, similar to
				finding the order of primitive roots mod <span class="tex" content="p"></span>. But how do we find the order of <span class="tex" content="E"></span>?
				One inefficient way is to try all <span class="tex" content="O(p^2)"></span> points <span class="tex" content="(x, y) \in \mathbb{Z}_p \times \mathbb{Z}_p"></span>
				and count how many of these points satisfy <span class="tex" content="y^2 \equiv x^3 + ax + b \pmod{p}"></span>.</p>

				<p>A better technique is to recall (see <a href="../numtheory/index.html#squares">square roots in finite fields</a>) that
				<span class="tex" content="x^2 \equiv a \pmod{p}"></span> has <span class="tex" content="1 + \left(\frac{a}{p}\right)"></span>
				solutions. This means we can compute the order of <span class="tex" content="E"></span> as

				$$|E| = 1 + \sum_{x=0}^{p-1} \left(1 + \left(\frac{x^3 + ax + b}{p}\right)\right) = p + 1 + \sum_{x=0}^{p-1} \left(\frac{x^3 + ax + b}{p}\right).$$</p>

				<p>There are actually more efficient ways to do this, but we will not get into them here. One nice result is Hasse's Theorem, which states that

				<span class="tex" content="\left|\sum_{x=0}^{p-1} \left(\frac{x^3 + ax + b}{p}\right)\right| \leq 2\sqrt{p}"></span>. This means that <span class="tex"
				content="p + 1 - 2\sqrt{p} \leq |E| \leq p + 1 + 2\sqrt{p}"></span>, or <span class="tex" content="|E| = \Theta(p)"></span>.</p>

				<p>So given a curve <span class="tex" content="E"></span>, how do we find a generator <span class="tex" content="G"></span>? To find a <span class="font-italic">
				point</span> on <span class="tex" content="E"></span>, we can choose a value for <span class="tex" content="x"></span>, and check if
				<span class="tex" content="x^3 + ax + b"></span> has a square root mod <span class="tex" content="p"></span>. If so, we can use that square root
				as the <span class="tex" content="y"></span>-coordinate. This point may not generate all of <span class="tex" content="E"></span>, though. It's not always
				necessary for <span class="tex" content="G"></span> to generate all of <span class="tex" content="E"></span>, as long as <span class="tex" content="|G|"></span>
				is sufficiently large and not a product of small primes.</p>

				<p>However, if we restrict ourselves to elliptic curves with a prime number of points (possibly different from the modulus <span class="tex" content="p"></span>),
				it turns out any finite point (any point <span class="tex" content="G \neq \infty"></span>) <span class="font-italic">will</span> generate <span class="tex"
				content="E"></span>. For this reason, we frequently insist that <span class="tex" content="|E|"></span> be prime.</p>

				<hr>

				<h5>Elliptic Curve Discrete Logarithms</h5>

				<p>Elliptic curve cryptography is based on the elliptic curve discrete logarithm problem, which is very similar to the classic discrete logarithm
				problem. In the classical case, discrete logarithms undo modular exponentation: that is, they extract the <span class="tex" content="x"></span>
				from the equation <span class="tex" content="g^x \equiv y \pmod{p}"></span>. In our case, modular exponentiation is written additively (since
				the operation is called point "addition," not "multiplication"):

				$$kG = \underbrace{G + G + \ldots + G}_\text{k terms}.$$</p>

				<p>This exponentiation can be computed efficiently using modular exponentiation (that is, repeated <span class="font-italic">doubling</span>). For
				example, <span class="tex" content="5G = G + 2(2(G))"></span>.</p>

				<p>The <span class="font-weight-bold">discrete logarithm problem for elliptic curves</span> is to solve <span class="tex" content="kG = P"></span>.
				Note that the number <span class="tex" content="k"></span> lives mod <span class="tex" content="|G|"></span>. Also note that <span class="tex"
				content="kG = P"></span> may not have a solution. (If you know group theory, <span class="tex" content="P"></span> could lie in the wrong coset.)</p>

				<p>Elliptic curve cryptography has a couple of advantages. First, in the classical case, once you fix the prime
				<span class="tex" content="p"></span>, you have only one group to work with. In ECC, for a fixed prime <span class="tex" content="p"></span>,
				there are many elliptic curves mod <span class="tex" content="p"></span> to choose from. Secondly, the most efficient algorithm in the classical case,
				the <span class="font-italic">index calculus</span>, runs in sub-exponential time. There is no analog of this algorithm for ECC because it relies on
				factorization of integers mod <span class="tex" content="p"></span>. There is no known way to factor points into a product of "primes" (or a sum
				since we use additive notation with elliptic curves). (Caveat: there are curves called supersingular curves for which it is possible to transform
				EC discrete logs into classical discrete logs and solve them more efficiently. Such curves should be avoided.)</p>

				<p>As a result, the best known algorithm for EC discrete logs is Pollard's Rho Algorithm, which operates very similarly to Pollard's Rho Algorithm in the classical case.
				This algorithm takes <span class="tex" content="O(\sqrt{n})"></span> time, where <span class="tex" content="n = |E|"></span>. This is still exponential
				time since the key-size is exponential in the number of bits in the input. That is, if <span class="tex" content="n = 2^t"></span>, then
				<span class="tex" content="\sqrt{n} = 2^{t/2}"></span>.</p>

				<p><class="font-weight-bold">Diffie-Hellman</span> works in almost exactly the same way in the elliptic curve case as in the classical case. First, an
				elliptic curve <span class="tex" content="E"></span> mod <span class="tex" content="p"></span> is agreed on. Aaron chooses a secret integer <span class="tex"
				content="a"></span> and sends <span class="tex" content="aG"></span> to Blumenfeld. Blumenfeld chooses a secret integer <span class="tex" content="b"></span> and
				sends <span class="tex" content="bG"></span> to Aaron. Aaron and Blumenfeld can then compute <span class="tex" content="abG = a(bG) = b(aG)"></span>. In this case,
				<span class="tex" content="abG = (x, y)"></span> is a <span class="font-italic">point</span>, so they agree on some algorithm to extract a key out of the point.
				For example, the <span class="tex" content="x"></span>-value could be used.</p>

				<p>There are also cryptosystems (such as ECIES) and digital signature algorithms (such as ECDSA) using elliptic curve cryptography. These both are based on
				the hardness of the discrete logarithm problem. We won't get into the details of these algorithms here; Diffie-Hellman provides enough context
				for EC discrete logarithms.</p>

				<hr>

				<h5>Elliptic Curve Cryptography over Binary Fields</h5>

				<p>Also frequently used in cryptography are elliptic curves over <a href="../numtheory/index.html#binary">binary fields</a>. These curves take on
				a slightly different form: <span class="tex" content="y^2 + xy = x^3 + ax^2 + b"></span>, with the restriction that <span class="tex"
				content="b \neq 0"></span> (this ensures the right side of the equation has no repeated roots). Here, <span class="tex" content="x, y, a"><span>,
				and <span class="tex" content="b"></span> are polynomials mod 2, not integers. For example, a curve might be represented by the equation
				<span class="tex" content="y^2 + xy = x^3 + (z^3)x^2 + (z^3 + 1)"></span>.</p>

				<div id="accordion2" class="mb-3 mt-3">
					<div class="card">
						<div class="card-header">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#addition2-details" aria-expanded="true" aria-controls="addition2-details">
									Expand this to see the addition formulas over binary fields.
								</button>
							</h5>
						</div>

						<div id="addition2-details" class="collapse" data-parent="#accordion2">
							<div class="card-body">
								<p>Here are the formulas for <span class="tex" content="P + Q"></span>, where <span class="tex" content="P = (x_1, y_1), Q = (x_2, y_2)">
								</span>.</p>

								<p>First <span class="tex" content="P + \infty = \infty"></span> for all points <span class="tex" content="P"></span>. Secondly, inverses
								are given by the formula <span class="tex" content="-P = -(x_1, y_1) = (x_1, x_1 + y_1)"></span>.</p>

								<p>If <span class="tex" content="P \neq \pm Q"></span>, then <span class="tex" content="P + Q = R = (x_3, y_3)"></span>, where
								$$x_3 = m^2 + m + x_1 + x_2 + a, y_3 = m(x_1 + x_3) + x_3 + y_1, m = \frac{y_2 + y_1}{x_2 + x_1}.$$</p>

								<p>If <span class="tex" content="P = Q"></span>, then <span class="tex" content="P + Q = 2P = R = (x_3, y_3)"></span>, where
								$$x_3 = m^2 + m + a, y_3 = x_1^2 + mx_3 + x_3, m = x_1 + \frac{y_1}{x_1}.$$</p>
							</div>
						</div>
					</div>
				</div>

				<p>In the ECC calculator above for binary fields, we don't support what are called supersingular elliptic curves (which take the form
				<span class="tex" content="y^2 + cy = x^3 + ax + b)"></span>. There are <a href="https://link.springer.com/content/pdf/10.1007/3-540-45682-1_29.pdf">
				reasons</a> to avoid supersingular elliptic curves, and the addition formulas for them differ.</p>

				<p>Why do we sometimes use binary fields instead of prime fields? The main reason is that we can do the computations very efficiently:
				a polynomial mod 2 can be represented as a sequence of bits. For example, <span class="tex" content="z^3 + z + 1"></span> can be represented as
				<span class="tex" content="1011"></span>. Polynomial addition can be implemented using XOR, and polynomial multiplication can be implemented
				using a combination of bit-shifts and XOR.</p>

				<p>One difference with the binary case is no curves have prime order. This is because the order of a curve is always even. This can be seen
				by the fact that the inverse of a point <span class="tex" content="(x, y)"></span> is <span class="tex" content="(x, x + y)"></span>. In particular,
				<span class="tex" content="P = (0, y)"></span> is its own inverse: <span class="tex" content="2P = \infty"></span>. The order of this point is 2,
				which must divide the order of the curve. But is <span class="tex" content="(0, y)"></span> guaranteed to be on the curve? Yes, as long as
				<span class="tex" content="y^2 = b"></span> has a solution. But <a href="../numtheory/index.html#squares">every element of a binary field has a
				square root</a>, so this point <span class="font-italic">is</span> always on the curve. As a result, we often talk about "almost prime" orders, which
				means that the order of the curve is <span class="tex" content="hq"></span> for some small value of <span class="tex" content="h"></span>
				(say, <span class="tex" content="h \leq 4"></span>) and some prime <span class="tex" content="q"></span>.</p>

				<hr>

				<h5>Projective Coordinates</h5>

				<p>One problem with using affine coordinates (i.e., the normal coordinate system we've used throughout this page) is that we need to do a field division
				every single time we add points. This can be costly when doing "exponentiation" (i.e., point multiplication). For example, to compute
				<span class="tex" content="15G = G + 2G + 2(2G) + 2(2(2G))"></span>, we require 6 point additions, and thus 6 field divisions. Of course, it's possible
				to turn this into only 5 additions by writing <span class="tex" content="15G = 2(2(2(2G)))) + (-G)"></span>, but field divisions are much more expensive
				than field additions and multiplications. (Here, "field division" means division mod p, or polynomial long division in a binary field.)</p>

				<p>So it's possible to use what are called projective coordinates. Specifically, we identify a point <span class="tex" content="(x, y, z)"></span>
				with the point <span class="tex" content="(\lambda x, \lambda y, \lambda z)"></span> for any <span class="tex" content="\lambda \neq 0"></span>.
				We can then identify a two-dimensional point in affine space with a three-dimensional point in projective space by the map
				<span class="tex" content="(x, y) \hookrightarrow (x, y, 1)"></span>.</p>

				<p>It turns out the point addition formulas in projective coordinates don't involve any field divisions, so when computing <span class="tex"
				content="kG"></span>, we only need to do one division at the very end (instead of <span class="tex" content="O(\log{k})"></span> divisions).
				In practice, this results in a roughly 35% speed-up. One other advantage is this gives us a nice way to represent the point at infinity
				in the computer: <span class="tex" content="\infty = (0, 1, 0)"></span> (there are reasons it takes this specific form; we won't go into the details
				here).</p>

				<hr>

				<h5>Lenstra's Algorithm for Integer Factorization</h5>

				<p>There is an algorithm that uses elliptic curves for factoring integers, due to Lenstra. It is not applicable to elliptic curve cryptography per se,
				but it is interesting and is applicable to other cryptographic schemes such as RSA, so we describe it here. The idea is to factor <span class="tex" content="n">
				</span> by coming up with a random elliptic curve <span class="tex" content="E \pmod{n}"></span>, along with a point <span class="tex" content="G"></span>
				on <span class="tex" content="E"></span> and an integer <span class="tex" content="k"></span>. This is not actually an elliptic curve because the integers
				mod <span class="tex" content="n"></span> do not form a field. That is, when computing slopes while adding points, we need to do an inversion mod
				<span class="tex" content="n"></span>. This is only guaranteed to work when <span class="tex" content="n"></span> is prime.</p>

				<p>So pretend we do have a legitimate elliptic curve and try to compute <span class="tex" content="kG"></span>. If we can't do a division, it's because
				<span class="tex" content="\text{gcd}(\cdot, n) > 1"></span>. If the gcd is = n, we learn nothing, but if the gcd is < n, we have found a non-trivial factor of n.
				If we fail, we can choose a different curve, or a different base point. One common choice for k is <span class="tex" content="B!"></span> for some
				relatively small value of <span class="tex" content="B"></span>. We can compute <span class="tex" content="B!G"></span> by computing
				<span class="tex" content="2G, 3(2G), 4(3(2G))"></span>, etc.</p>

				<p>In order to choose <span class="tex" content="E"></span> and <span class="tex" content="G = (x', y')"></span>, we cannot just choose
				random values for <span class="tex" content="a, b, x'"></span>, and compute <span class="tex" content="y'"></span> as <span class="tex"
				content="\sqrt{(x')^3 + ax' + b} \pmod{n}"></span> since computing square roots mod a composite integer <span class="tex" content="n"></span>
				is hard. Instead, we can choose <span class="tex" content="a, x', y'"></span> randomly, and compute <span class="tex"
				content="b \equiv (y')^2 - (x')^3 - ax' \pmod{n}"></span>.</p>

				<p>We can think of this in the case <span class="tex" content="n = pq"></span> as working because the number we're trying to divide by is nonzero mod p, but zero
				mod q (or vice versa). For example, let's try to factor <span class="tex" content="n = 91"></span> using this algorithm. Randomly choose
				<span class="tex" content="a = 10, x' = 12, y' = 18"></span>. This gives <span class="tex" content="b = 23"></span>. Thus <span class="tex"
				content="E: y^2 \equiv x^3 + 10x + 23 \pmod{91}, G = (12, 18)"></span>. Let <span class="tex" content="k = 5!"></span>.</p>

				<p>We first compute <span class="tex" content="2G = P = (54, 73)"></span>: the slope was <span class="tex" content="78/36"></span>, and <span class="tex"
				content="36"></span> is invertible <span class="tex" content="\text{mod } 91"></span> since <span class="tex" content="\text{gcd}(36, 91) = 1"></span>. But
				when we try to compute <span class="tex" content="6G = 3P = 2P + P"></span>, we encounter problems. Specifically, computing <span class="tex" content="2P"></span>
				is fine since the slope is <span class="tex" content="m = 22/55"></span>, and again, <span class="tex" content="55"></span> is invertible <span class="tex"
				content="\text{mod } 91"></span> since <span class="tex" content="\text{gcd}(55, 91) = 1"></span>. So we compute <span class="tex" content="2P = (5, 74)"></span>.
				But when computing <span class="tex" content="2P + P = (5, 74) + (54, 73)"></span>, we observe the slope is <span class="tex" content="m = -1/49"></span>.
				But we cannot invert <span class="tex" content="49 \bmod{91}"></span> since <span class="tex" content="\text{gcd}(49, 91) = 7"></span>. We have thus found the
				factor <span class="tex" content="7"></span>, and the other factor is <span class="tex" content="91/7 = 13"></span>.</p>

				<p>This is a common idea with factoring algorithms: try to do something clever and extract a non-trivial factor
				using a gcd calculation, which can be done very quickly (in logarithmic time). In our case, 14 was invertible mod 13, but not mod 7. Even though
				we didn't know the factorization, we were able to extract a factor using the gcd.</p>

		</div>

		<script src="../../katexBinding.js"></script>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.bundle.min.js"></script>

  </body>

</html>